body {
  margin: 0;
 font-family: "Merriweather", serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem !important;
}

code {
  font-family: "Merriweather", serif;
 
  font-size: 1rem !important;
}

.main-container {
  position: relative;
  background-color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  color: #00FFF7;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

p, a, h1, h2, h3, h4, h5, label, button {
  color: white;
  font-family: "Merriweather", serif;}

.navigation-bar {
  justify-content: space-between;
  background-color: #000;
}

.navigation-bar button {
  font-size: 1.1rem;
  font-family: "Merriweather", serif; 
   text-transform: initial;
  padding: 6px 10px;
}

.navigation-bar svg {
  cursor: pointer;
}

.navigation-bar-responsive span,
.navigation-bar-responsive p {
  color: #fff;
   font-family: "Merriweather", serif; 
}
.navigation-bar-responsive{
 background-color: #2d3436;
}
.navigation-bar-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100%;
  height: 450px;
}

.header-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.mobile-menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;

}

.items-container {
  padding: 5% 10%;
  text-align: left;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}





/* Responsive */
@media screen and (max-width: 768px) {
  .items-container {
    padding: 5% 5%;
  }
}
