.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;
}

.contact-form button {
  float: right;
  background-color: white;
  color: #050f0b;
}

.contact-form button:hover {
  background-color: #00FFF7;
  color: white;
}
.body-form{
  background-color: white;
  border-radius: 5px;
}



label {
  font-size: 1.2rem;
  font-family: "Merriweather", serif; 
   color: #00FFF7;
}
label:focus{
  color: #00FFF7;
  border-color: #00FFF7;
  outline : none;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}
.email-box {
  margin-top: 2rem;
  display: flex;
background: linear-gradient(135deg, #000000 0%, #003f3f 50%, #00FFF7 100%);
  align-items: center;
  justify-content: space-around;
 padding: 50px 20px;
 border-radius: 10px;
  
}

.email-text {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.email-text span {
  font-size: 1.2rem;
  color: #fff;
}

@media (min-width: 576px) {
  .email-text span {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .email-text span {
    font-size: 1.6rem;
  }
}
